apiVersion: v1
kind: Namespace
metadata:
  name: {{ item.username }}

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ item.username }}
  namespace: {{ item.username }}

---

apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: {{ item.username }}
  namespace: {{ item.username }}
  annotations:
    kubernetes.io/service-account.name: "{{ item.username }}"

---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ item.username }}
  namespace: {{ item.username }}
rules:
- apiGroups: ["", "extensions", "apps"]
  resources: ["*"]
  verbs: ["*"]
- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["*"]

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ item.username }}
  namespace: {{ item.username }}
subjects:
- kind: ServiceAccount
  name: {{ item.username }}
  namespace: {{ item.username }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ item.username }}
