data:
  policy.default: role:''
  policy.csv: |
{% for student in students %}
    p, role:{{student.username}}, applications, *, {{student.username}}-project/*, allow
    p, role:{{student.username}}, projects, get, {{student.username}}-project, allow
    p, role:{{student.username}}, repositories, *, *, allow
    p, role:{{student.username}}, clusters, get, *, allow
    g, {{student.username}}, role:{{student.username}}

{% endfor -%}
