---

apiVersion: v1
kind: LimitRange
metadata:
  name: memory-limit-range
  namespace: matheusalves
spec:
  limits:
  - max:
      memory: 2500M
    min:
      memory: 500M
    type: Container
---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}

---

apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}
  annotations:
    kubernetes.io/service-account.name: "{{ user.username }}"

---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}
rules:
- apiGroups: ["","extensions", "apps"]
  resources: ["deployments", "secrets", "endpoints", "replicasets", "pods", "services", "ingresses", "events", "configmaps"]
  verbs: ["*"]

- apiGroups: [""]
  resources: ["persistentvolumes"]
  resourceNames: ["{{pv_basename}}-{{user.username}}"]
  verbs: ["get", "list" , " watch"]

- apiGroups: [""]
  resources: ["persistentvolumeclaims"]
  verbs: ["get", "list", "watch"]

- apiGroups: [""]
  resources: ["persistentvolumeclaims"]
  resourceNames: ["{{ pv_basename }}-{{ user.username }}-claim"]
  verbs: ["create", "delete", "patch", "get", "list", "watch"]

- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["*"]

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}
subjects:
- kind: ServiceAccount
  name: {{ user.username }}
  namespace: {{ user.username }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ user.username }}
  