---

apiVersion: v1
kind: LimitRange
metadata:
  name: memory-limit-range
  namespace: {{ user.username }}
spec:
  limits:
  - max:
      memory: 2500M
    min:
      memory: 500M
    type: Container

---

apiVersion: v1
kind: ResourceQuota
metadata:
  name: storage-consumption-{{ user.username }}
  namespace: {{ user.username }}
spec:
  hard:
    {% for student in students %}
    {% if student.username != user.username %}
    default-storage-class-{{student.username}}.storageclass.storage.k8s.io/persistentvolumeclaims: "0" 
    {% endif %}
    {% endfor %}

---

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}

---

apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}
  annotations:
    kubernetes.io/service-account.name: "{{ user.username }}"

---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}
rules:
- apiGroups: ["","extensions", "apps"]
  resources: ["deployments", "secrets", "endpoints", "replicasets", "pods", "services", "ingresses", "events", "configmaps", "persistentvolumeclaims"]
  verbs: ["*"]

- apiGroups: ["batch"]
  resources:
  - jobs
  - cronjobs
  verbs: ["*"]

---

kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ user.username }}
  namespace: {{ user.username }}
subjects:
- kind: ServiceAccount
  name: {{ user.username }}
  namespace: {{ user.username }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ user.username }}

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ user.username }}_cluster_role
rules:

- apiGroups: [""]
  resources: ["persistentvolumes"]
  resourceNames: ["{{pv_basename}}-{{user.username}}"]
  verbs: ["list", "watch", "get"]

- apiGroups: ["storage.k8s.io", "core" ]
  resources: [ "storageclass" ]
  resourceNames: ["default-storage-class-{{user.username}}"]
  verbs: ["get", "list", "watch"]

---

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ user.username }}_cluster_role_binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ user.username }}_cluster_role
subjects:
  - kind: ServiceAccount
    name: {{ user.username }}
    namespace: {{ user.username }}

    